*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    background-color: #21AA58;
}

.container .left{
    width: 50%;
    height: 400px;
}

.container .left img{
    width: 100%;
    height: 100%;
}